menu "WiFi credentials"

config SSID
    string "Service Set Identifier (SSID)"
    help
      SSID of target AP.

config PASSWORD
    string "Password"
    help
      Password of target AP

config OTA_BASE
    string "ota.home.arpa/ota/"
    help
      Prefix to OTA server. It is used to construct OTA URLs as http://<base><MAC>/<project_name>.version and http://<base><MAC>/<project_name>.bin

      OTA code in firmware will try to fetch the version URL first and compare it to the local version. If content differs,
      the upgrade will start.

      To figure out current version run `make | grep ^App`
endmenu
